<div class="container">
  <% include  ../include/head %>
<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Kullanıcılar
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="box">

      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th style="width: 10px">id</th>
            <th>Durum id</th>
            <th>Durum Tipi</th>
            <th>Birim</th>
            <th>Açıklama</th>

            <th style="width: 40px">Aktar</th>
            <th style="width: 40px">Sil</th>
          </tr>
          <% _.each(sikayetler.rows, function(sikayet) {%>
          <tr>
            <td><%=sikayet.durumid %></td>
            <td><%=sikayet.sikayetlerid %></td>
            <td><%=sikayet.durumtipisim %></td>
            <td><%=sikayet.birimismi %></td>
            <td><%=sikayet.aciklama%></td>
            <td><a href="/admin/sikayet/aktar/<%=sikayet.sikayetlerid %>"><span class="badge bg-green">Aktar</span></a></td>
            <td><a onclick="return confirm('Silmek İstediğinizden Eminmisiniz ?');" href="/admin/sikayet/delete/<%=sikayet.sikayetlerid %>"><span class="badge bg-red">sil</span></a></td>
          </tr>
          <% }) %>

          </tbody></table>
      </div><!-- /.box-body -->
      <div class="box-footer clearfix ">
        <div class="pagination-sm no-margin pull-right">

        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</aside>

</div>
