<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Kullanıcı Kayıt Ekle

    </h1>

  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box" style="width: 50%;">
      <div class="box-body">
        <% if (req.session.flash.message) {%>
        <div class="box-body">
          <div class="alert alert-<%- req.flash('type') %> alert-dismissable">
            <i class="fa fa-<%- req.flash('icon') %>"></i>
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <b><%- req.flash('message') %></b>
          </div>
        </div>
        <%}%>

        <form role="form" action="/admin/kullanici/save" method="post">
          <!-- text input -->
           <div class="form-group">
            <label>İsim</label>
            <input type="text" name="name"  id="name" required="required" class="form-control" required placeholder="İsim">
          </div>
          <div class="form-group">
            <label>Soyisim</label>
            <input type="text" name="surname"  id="surname" required="required" class="form-control" required placeholder="Soyisim">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email"  id="email" required="required" class="form-control" required placeholder="Geçerli bir email adresi giriniz.">
          </div>
          <div class="form-group">
            <label>Şifre</label>
            <input type="text" name="password"  id="password" required="required" class="form-control">
          </div>
          <div class="form-group">
              <label for="name">Hesap Durumu</label>
            <div class="checkbox">
              <label>
                <input type="radio" name="status" value="0" class="form-control"> Pasif

              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="radio" name="status" value="1"  class="form-control"> Aktif
              </label>
            </div>

          </div>
          <div class="form-group">
              <label>Görev</label>
              <select class="form-control" name="duty" id="duty">
                <option value="0">Seçiniz</option>
                <% _.each(görevtipleri, function(görev) {%>
                <option <value="<%=görev.id%>"> <%=görev.gorev%> </option>
                <% }) %>
              </select>
          </div>
          <div class="form-group">
          <button class="btn btn-primary btn-sm">Ekle</button>
        </div>
        </form>
      </div>
    </div>
  </section>
  <!-- /.content -->
</aside>
